# Label file comparison

In [1]:
import pandas as pd
import utils

from constants import *

Load old and new label file

In [2]:
df_old = pd.read_csv(utils.resolve_path(LABEL_DIR, "messenger-0001_-0200_labelled.csv"),
                     index_col=ORBIT_COL,
                     parse_dates=EVENT_COLS)
df_new = pd.read_csv(utils.resolve_path(LABEL_DIR, "messenger-0001_-4094_labelled.csv"),
                     index_col=ORBIT_COL,
                     parse_dates=EVENT_COLS)

Compare orbits $1-5$ (start of old file)

In [3]:
df_old.loc[1:5]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
1,2011-03-23 23:46:56,2011-03-23 23:59:55,2011-03-24 01:10:02,2011-03-24 01:14:00,2011-03-24 02:14:45,2011-03-24 02:15:35,2011-03-24 04:35:07,2011-03-24 04:38:09
2,2011-03-24 12:18:59,2011-03-24 12:46:44,2011-03-24 13:21:46,2011-03-24 13:23:40,2011-03-24 14:13:52,2011-03-24 14:19:17,2011-03-24 14:45:20,2011-03-24 14:49:16
3,2011-03-25 01:00:04,2011-03-25 01:00:40,2011-03-25 01:19:48,2011-03-25 01:21:54,2011-03-25 02:18:19,2011-03-25 02:21:33,2011-03-25 03:30:23,2011-03-25 03:31:53
4,2011-03-25 13:04:25,2011-03-25 13:06:19,2011-03-25 13:27:39,2011-03-25 13:30:53,2011-03-25 14:29:58,2011-03-25 14:31:24,2011-03-25 15:03:53,2011-03-25 15:15:19
5,2011-03-26 01:19:14,2011-03-26 01:19:24,2011-03-26 01:34:50,2011-03-26 01:35:35,2011-03-26 02:34:27,2011-03-26 02:47:28,2011-03-26 03:14:19,2011-03-26 03:17:48

In [4]:
df_new.loc[1:5]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
1,2011-03-23 23:47:02.700,2011-03-23 23:59:44.400,2011-03-24 01:10:00.100,2011-03-24 01:14:03.200,2011-03-24 02:14:46.100,2011-03-24 02:15:33.600,2011-03-24 04:35:08.800,2011-03-24 07:32:21.200
2,2011-03-24 12:18:47.000,2011-03-24 12:46:32.000,2011-03-24 13:20:54.000,2011-03-24 13:24:32.000,2011-03-24 14:13:48.000,2011-03-24 14:19:14.000,2011-03-24 14:45:20.000,2011-03-24 14:49:18.000
3,2011-03-25 01:00:05.300,2011-03-25 01:00:36.600,2011-03-25 01:19:52.900,2011-03-25 01:21:04.600,2011-03-25 02:18:21.900,2011-03-25 02:21:28.400,2011-03-25 03:30:24.800,2011-03-25 03:31:51.000
4,2011-03-25 13:04:25.000,2011-03-25 13:06:15.500,2011-03-25 13:27:42.300,2011-03-25 13:30:40.400,2011-03-25 14:30:09.200,2011-03-25 14:31:14.900,2011-03-25 15:03:59.600,2011-03-25 15:15:20.100
5,2011-03-26 01:19:14.800,2011-03-26 01:19:27.000,2011-03-26 01:34:58.300,2011-03-26 01:35:34.700,2011-03-26 02:34:33.500,2011-03-26 02:47:00.600,2011-03-26 03:14:12.700,2011-03-26 03:17:46.600

Compare orbits $195-199$ (end of old file)

In [5]:
df_old.loc[195:199]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
195,2011-06-29 07:39:49,2011-06-29 07:44:42,2011-06-29 07:50:17,2011-06-29 07:53:17,2011-06-29 09:05:15,2011-06-29 09:16:55,2011-06-29 09:43:57,2011-06-29 10:03:42
196,2011-06-29 19:32:21,2011-06-29 19:32:50,2011-06-29 19:41:51,2011-06-29 19:44:50,2011-06-29 20:54:15,2011-06-29 21:04:57,2011-06-29 21:40:55,2011-06-29 21:47:21
197,2011-06-30 07:17:48,2011-06-30 07:19:32,2011-06-30 07:32:00,2011-06-30 07:34:12,2011-06-30 08:46:54,2011-06-30 08:48:47,2011-06-30 09:26:56,2011-06-30 09:37:53
198,2011-06-30 19:01:36,2011-06-30 19:08:18,2011-06-30 19:19:40,2011-06-30 19:21:21,2011-06-30 20:30:37,2011-06-30 20:32:31,2011-06-30 21:14:38,2011-06-30 21:19:51
199,2011-07-01 06:54:55,2011-07-01 06:56:19,2011-07-01 07:05:05,2011-07-01 07:06:09,2011-07-01 08:22:36,2011-07-01 08:29:34,2011-07-01 09:05:16,2011-07-01 09:10:57

In [6]:
df_new.loc[195:199]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
195,2011-06-29 07:39:50,2011-06-29 07:43:01,2011-06-29 07:50:54,2011-06-29 07:53:16,2011-06-29 09:05:12,2011-06-29 09:14:43,2011-06-29 09:43:58,2011-06-29 10:04:30
196,2011-06-29 19:27:53,2011-06-29 19:32:47,2011-06-29 19:41:50,2011-06-29 19:44:51,2011-06-29 20:54:19,2011-06-29 21:04:35,2011-06-29 21:40:55,2011-06-29 21:47:22
197,2011-06-30 07:17:35,2011-06-30 07:20:24,2011-06-30 07:31:43,2011-06-30 07:32:50,2011-06-30 08:42:55,2011-06-30 08:49:31,2011-06-30 09:27:00,2011-06-30 09:37:52
198,2011-06-30 19:01:34,2011-06-30 19:08:13,2011-06-30 19:20:48,2011-06-30 19:21:18,2011-06-30 20:29:51,2011-06-30 20:33:21,2011-06-30 21:14:45,2011-06-30 21:22:06
199,2011-07-01 06:53:27,2011-07-01 06:56:44,2011-07-01 07:04:28,2011-07-01 07:06:12,2011-07-01 08:22:41,2011-07-01 08:29:42,2011-07-01 09:05:02,2011-07-01 09:10:55

Determine absolute timestamp deviation statistics

In [7]:
df_dev = (df_old - df_new).abs().agg(["mean", "std", "max", "idxmax"])
dev_orbits = df_dev.loc["idxmax"]

In [8]:
df_dev.transpose()

,mean,std,max,idxmax
SK outer in,0 days 00:02:20.715730337,0 days 00:11:01.307635173,0 days 01:30:00,104
SK inner in,0 days 00:01:55.244382022,0 days 00:10:13.157648871,0 days 01:49:38,113
MP outer in,0 days 00:02:32.717977528,0 days 00:10:21.196384072,0 days 01:35:17,117
MP inner in,0 days 00:02:25.556179775,0 days 00:06:59.972987685,0 days 00:59:24,117
MP inner out,0 days 00:00:32.394382022,0 days 00:00:55.471795367,0 days 00:05:15,180
MP outer out,0 days 00:00:48.396067415,0 days 00:01:21.302400130,0 days 00:09:16.900000,18
SK inner out,0 days 00:01:47.643820224,0 days 00:09:16.148560804,0 days 01:59:00,104
SK outer out,0 days 00:03:30.816292134,0 days 00:23:37.024000376,0 days 04:17:11,104

Inspect deviating orbits by comparing diagonals

In [9]:
df_old.loc[dev_orbits]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
104,2011-05-14 15:12:48,2011-05-14 15:12:57,2011-05-14 20:17:30,2011-05-14 20:27:42,2011-05-14 21:41:30,2011-05-14 22:01:53,2011-05-14 21:58:35,2011-05-15 00:02:11
113,2011-05-19 05:36:47,2011-05-19 05:36:51,2011-05-19 08:25:36,2011-05-19 08:31:38,2011-05-19 10:00:10,2011-05-19 10:03:52,2011-05-19 10:20:46,2011-05-19 10:21:46
117,2011-05-21 05:25:02,2011-05-21 06:11:35,2011-05-21 09:19:08,2011-05-21 09:19:41,2011-05-21 10:21:41,2011-05-21 10:25:31,2011-05-21 10:54:02,2011-05-21 10:55:26
117,2011-05-21 05:25:02,2011-05-21 06:11:35,2011-05-21 09:19:08,2011-05-21 09:19:41,2011-05-21 10:21:41,2011-05-21 10:25:31,2011-05-21 10:54:02,2011-05-21 10:55:26
180,2011-06-21 21:50:18,2011-06-21 22:17:48,2011-06-21 22:49:15,2011-06-21 22:52:42,2011-06-21 23:41:12,2011-06-21 23:41:18,2011-06-22 01:07:14,2011-06-22 01:24:29
18,2011-04-01 13:35:00,2011-04-01 13:51:55,2011-04-01 14:21:15,2011-04-01 14:21:45,2011-04-01 15:45:16,2011-04-01 15:59:10,2011-04-01 18:09:07,2011-04-01 19:11:29
104,2011-05-14 15:12:48,2011-05-14 15:12:57,2011-05-14 20:17:30,2011-05-14 20:27:42,2011-05-14 21:41:30,2011-05-14 22:01:53,2011-05-14 21:58:35,2011-05-15 00:02:11
104,2011-05-14 15:12:48,2011-05-14 15:12:57,2011-05-14 20:17:30,2011-05-14 20:27:42,2011-05-14 21:41:30,2011-05-14 22:01:53,2011-05-14 21:58:35,2011-05-15 00:02:11

In [10]:
df_new.loc[dev_orbits]

,SK outer in,SK inner in,MP outer in,MP inner in,MP inner out,MP outer out,SK inner out,SK outer out
ORBIT,,,,,,,,
104,2011-05-14 13:42:48,2011-05-14 15:12:52.000,2011-05-14 20:17:23.000,2011-05-14 20:27:21.000,2011-05-14 21:44:44.000,2011-05-14 22:01:46.000,2011-05-14 23:57:35.000,2011-05-15 04:19:22.000
113,2011-05-19 06:12:37,2011-05-19 07:26:29.000,2011-05-19 08:25:45.000,2011-05-19 08:42:06.000,2011-05-19 10:03:42.000,2011-05-19 10:03:56.000,2011-05-19 10:20:53.000,2011-05-19 10:22:25.000
117,2011-05-21 05:25:05,2011-05-21 06:11:28.000,2011-05-21 07:43:51.000,2011-05-21 08:20:17.000,2011-05-21 10:21:42.000,2011-05-21 10:25:23.000,2011-05-21 10:54:09.000,2011-05-21 10:55:25.000
117,2011-05-21 05:25:05,2011-05-21 06:11:28.000,2011-05-21 07:43:51.000,2011-05-21 08:20:17.000,2011-05-21 10:21:42.000,2011-05-21 10:25:23.000,2011-05-21 10:54:09.000,2011-05-21 10:55:25.000
180,2011-06-21 21:50:12,2011-06-21 22:17:42.000,2011-06-21 22:49:29.000,2011-06-21 22:51:39.000,2011-06-21 23:35:57.000,2011-06-21 23:41:32.000,2011-06-22 01:07:18.000,2011-06-22 01:24:29.000
18,2011-04-01 13:35:01,2011-04-01 13:51:52.600,2011-04-01 14:21:22.700,2011-04-01 14:21:35.500,2011-04-01 15:45:16.100,2011-04-01 15:49:53.100,2011-04-01 18:09:09.500,2011-04-01 19:11:29.200
104,2011-05-14 13:42:48,2011-05-14 15:12:52.000,2011-05-14 20:17:23.000,2011-05-14 20:27:21.000,2011-05-14 21:44:44.000,2011-05-14 22:01:46.000,2011-05-14 23:57:35.000,2011-05-15 04:19:22.000
104,2011-05-14 13:42:48,2011-05-14 15:12:52.000,2011-05-14 20:17:23.000,2011-05-14 20:27:21.000,2011-05-14 21:44:44.000,2011-05-14 22:01:46.000,2011-05-14 23:57:35.000,2011-05-15 04:19:22.000